* {
    margin: 0;
    /* margem */
    border: 0;
    /* borda */
    padding: 0;
    /* distância entre elemento e a borda */
    box-sizing: border-box;
    /* relação width e height*/
    font-family: poppins, sans-serif;
}

body {
    background-image: url("../img/fundo.png");
    /* usar '../' sempre que for referenciar img no css*/
    /* background fixo*/
    background-size: cover;
    background-repeat: no-repeat;
    /* manter imagem fixa independente do zoom*/
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

header {
    background-color: rgba(0, 49, 88, 0.7);
    width: auto;
    padding-left: 1%;
    /* distância esquerda */
    padding-top: 1.5%;
    /* distância no topo */
    padding-bottom: 1.5%;
    /* distância pra baixo */
}

footer {
    background-color: rgba(0, 49, 88, 0.7);
    padding-left: 1%;
    padding-top: 0.5%;
    /* ficar embaixo*/
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0;
}

section {
    background-color: rgba(255, 165, 0, 1);
    border-radius: 1.7em;
    /* deixa redondo*/
    height: 25%;
    /* altura*/
    width: 20%;
    /* largura */
    border: 4px solid orange;
    /* borda/moldura */
    box-shadow: 0px 10px 20px #00000056;
    /* sombra*/
}

h1 {
    font-size: 25px;
    color: white;
    text-align: center;
}

h3 {
    font-size: 15px;
    color: black;
    text-align: center;
}

h4,
p {
    font-size: 14px;
    color: white;
    text-align: justify;
}

.section-1 {
    /* Posição da section */
    position: fixed;
    left: 5%;
    top: 35%;
    /* Cor da section que apresentar erro */
    background-color: rgb(211, 20, 13);
    border: 4px solid rgb(211, 20, 13);
}

.section-2 {
    position: fixed;
    left: 28%;
    top: 35%;
}

.section-3 {
    position: fixed;
    left: 52%;
    top: 35%;
}

.section-4 {
    position: fixed;
    left: 75%;
    top: 35%;
}

.texto-section {
    font-size: 13px;
    text-align: center;
}

#imagem img {
    width: 80px;
    float: right;
}

.imgButton2 {
    cursor: pointer;
    position: absolute;
    max-widht: 32px;
    max-height: 32px;
    margin-left: 45%;
    top: 32%;
}

#robo-image-1 {
    width: 12vh;
    margin-left: 30%;
    /* mover pra esquerda a imagem*/
}

#robo-image-2 {
    width: 15vh;
    margin-left: 35%;

    /*width: 12vh;
    margin-left: 30%; /* mover pra esquerda a imagem*/
}

#robo-image-3 {
    width: 15vh;
    margin-left: 35%;

    /*width: 12vh;
    margin-left: 30%; /* mover pra esquerda a imagem*/
}

#robo-image-4 {
    width: 15vh;
    margin-left: 35%;

    /* width: 12vh;
    margin-left: 30%; /* mover pra esquerda a imagem*/
}

/* TENTATIVA BORDA ANIMADA */
.container::before {
    content: "";
    position: fixed;
    top: 35%;
    left: 5%;
    height: 25%;
    width: 20%;
    border-radius: 10px;
    background: radial-gradient(red, white, red);
    z-index: -1;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg) brightness(100%) blur(10px);
    }
    100% {
        filter: hue-rotate(360deg) brightness(100%) blur(10px);
    }
}