* {
    margin: 0; /* margem */
    border: 0; /* borda */
    padding: 0; /* distância entre elemento e a borda */
    box-sizing: border-box; /* relação width e height*/
    font-family: poppins, sans-serif;
}

body {
    background-size: 1480px 850px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color:#003158;
}

header {
    background-color: #003158;
    opacity: 1;
    padding-left: 1%; /* distância esquerda */
    padding-top: 1.5%; /* distância no topo */
    padding-bottom: 1.5%; /* distância pra baixo */
}

footer {
    background-color: #003158;
    padding-left: 1%;
    padding-top: 0.5%;
    /* ficar embaixo*/
    position: absolute;
    height: 9%;
    width: 100%;
    bottom: 0;
}

section {
    background-color: orange;
    border-radius: 1.6em;
    height: 25%; /* altura*/
    width: 25%; /* largura */
    border: 4px solid orange; /* borda/moldura */
    position: fixed;
    box-shadow: 0px 10px 20px #00000056; /* sombra*/
    top: 35%; /* posiciona na metade da tela */
    margin-top: -25px; /* e retrocede metade da altura */
    left: 50%; /* posiciona na metade da tela */
    margin-left: -100px; /* e retrocede metade da largura */
}

h1 {
    font-size: 25px;
    color: white;
    text-align: center;
}

h3 {
    font-size: 15px;
    color: black;
    text-align: center;
}

h4, p {
    font-size: 14px;
    color: white;
    text-align: justify;
}

.texto-section {
    font-size: 13px;
    text-align: center;
}