* {
    margin: 0; /* margem */
    border: 0; /* borda */
    padding: 0; /* distância entre elemento e a borda */
    box-sizing: border-box; /* relação width e height*/
    font-family: poppins, sans-serif;
}

body {
    background-size: 1480px 850px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color:#003158;
}

header {
    background-color: rgba(0,49,88, 0.6);
    padding-left: 1%; /* distância esquerda */
    padding-top: 1.5%; /* distância no topo */
    padding-bottom: 1.5%; /* distância pra baixo */
}

footer {
    background-color: rgba(0,49,88, 0.6);
    padding-left: 1%;
    padding-top: 0.5%;
    /* ficar embaixo*/
    position: absolute;
    height: 9%;
    width: 100%;
    bottom: 0;
}

section {
    background-color: orange;
    border-radius: 1.7em; /* deixa redondo*/
    height: 25%; /* altura*/
    width: 25%; /* largura */
    border: 4px solid orange; /* borda/moldura */
    box-shadow: 0px 10px 20px #00000056; /* sombra*/
    margin-top: 19%; /* e retrocede metade da altura */
    /* deixam no centro*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 25px;
    color: white;
    text-align: center;
}

h3 {
    font-size: 15px;
    color: black;
    text-align: center;
}

h4, p {
    font-size: 14px;
    color: white;
    text-align: justify;
}

.texto-section {
    font-size: 13px;
    text-align: center;
}

#imagem img {
    width:80px;
    float:right;
}

#robo-image {
    width: 20vh;
    display: block;
    margin-left: 30%; /* mover pra esquerda a imagem*/
    margin-right: auto;
}